@tab-background-color: rgba(256, 256, 256, 0.5);
@background-image: url('/images/house-blue-sky-hd.jpg');
@font-color: #ddddff;

body {
	color: @font-color;
	background: @background-image no-repeat center center fixed;
	background-size: 100%;
}

header {
	margin-bottom: 100px;
}

.tab {
	background-color: @tab-background-color;
	color: blue;
	position: relative;
	width: 400px;
	height: 100px;
	text-align: left;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	vertical-align: middle;
	text-indent: 20px;
	line-height: 100px;
	font-size: 30pt;
	margin-bottom: 50px;
	margin-left: -20px;
	-moz-transition: background-color 500ms; /* For Safari 3.1 to 6.0 */
	-webkit-transition: background-color 500ms; /* For Safari 3.1 to 6.0 */
    transition: background-color 500ms;
}

.tab a {
	text-decoration: none;
	color: blue;
}

#air-conditioning-tab:hover {
	background-color: rgb(256, 256, 256);
}

#heating-tab:hover {
	background-color: rgb(256, 256, 256);
}

#indoor-air-quality-tab:hover {
	background-color: rgb(256, 256, 256);
}

footer {
	color: navy;
}

nav {
  font-size: large;
  -moz-column-count: 5;
  -moz-column-gap: 5px;
  -webkit-column-count: 5;
  -webkit-column-gap: 5px;
  column-count: 5;
  column-gap: 5px;	
  margin: 0px;
  padding: 0px;
}

nav a {
	text-decoration: none;
	color: @font-color;
}


nav div {
	background-color: rgba(0, 0, 256, 0.5);
	height: 40px;
	line-height: 40px;
	text-align: center;
	-moz-transition: background-color 500ms; /* For Safari 3.1 to 6.0 */
	-webkit-transition: background-color 500ms; /* For Safari 3.1 to 6.0 */
    transition: background-color 500ms;
}

nav div:hover {
	background-color: rgb(0, 0, 256);
}

nav div#home {
	background-color: rgba(0, 153, 0, 0.5);
}

nav div#home:hover {
	background-color: rgb(0, 153, 0);
}
