
@background-color: #ffffff;
@border: #aaaaff;
@border-background-color: #ddddff;
@list-background-color: #eeeeff;
@row-even-background-color: #eeeeee;
@row-odd-background-color: #ffffff;

body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: @background-color;
}

table {
  width: 100%;
  border: 1px solid @border;
  border-radius: 2px;
  border-spacing: 0px;
}

tr:nth-child(even) {
  background-color: @row-even-background-color;
}

tr:nth-child(odd) {
  background-color: @row-odd-background-color;
}

th {
  border-radius: 2px;
  background-color: @border-background-color;
}

td {
  text-align: center;
  padding: 5px 5px 5px 5px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-size: smaller;
}

section {
  background-color: @list-background-color;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: blue;
}

#style-control {
  text-align: right;
}

.image-container {
  text-align: center;
}

.element-image {
  height: 100px;
  width: 100px;
}

.element-container {}

a {
  color: #00B7FF;
}

nav {
  text-align: center;
/*  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;*/
}

#crumbs {
  font-size: smaller;
}

footer #container{
  font-size: smaller;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

/*header {
  border: 1px solid @border;
  border-radius: 5px;
  background-color: @border-background-color;
  font-style: bold;
  font-size: larger;
  text-align: center;
  margin-bottom: 10px;
}*/

header {
  font-size: smaller;
  color: light-blue;
  font: 14px "Verdana", Verdana, Geneva, sans-serif;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

header .logo {
  text-align: left;
}

header .contact {
  font-size: larger;
  text-align: center;
}

header .expertise {
  font-size: larger;
  font-weight: bold;
  text-align: right;
}

section {
  color: blue;
}